*/.tmp/*
*/client/lib*
*/common/lib*
*/server/lib*
*/common/cjs*
*/server/cjs*
*node_modules*
/.idea
/lib
/node_modules
/output
/packages/**/*.tsbuildinfo
/packages/chatApp/dist
/packages/chatApp/lib
bundles/test*
coverage
lerna-debug.log
packages/**/package-lock.json
packages/tests/output
