*/.tmp/*
*/client/lib*
*/common/lib*
*/server/lib*
*node_modules*
/.idea
/lib
/node_modules
/output
/packages/chatApp/dist
bundles/test*
coverage
lerna-debug.log
packages/**/package-lock.json
packages/tests/output