/.idea
/.vscode
/packages/chatApp/dist
/output
packages/tests/output
/node_modules
*node_modules*
/lib
packages/**/package-lock.json
*/client/lib*
*/common/lib*
*/server/lib*
bundles/test*
*/.tmp/*
coverage