name: Feature

on:
  push:
    branches-ignore:
      - main
      - master
    paths-ignore:
      - '.vscode/**'
      - 'bundles/**'
      - 'readme/**'
      - '**.md'
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - '.vscode/**'
      - 'bundles/**'
      - 'readme/**'
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 1
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]

    steps:
      - name: install required packages for puppeteer
        run: |
          sudo apt-get update
          sudo apt-get install -y libgbm-dev

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: npm install, build, and test
        run: |
          npm ci
          npm run build
          npm test
        # don't use codecov for features
        # - uses: codecov/codecov-action@v1
        env:
          CI: true
