name: CI

on:
  push:
    paths-ignore:
      - '.vscode/**'
      - 'bundles/**'
      - 'readme/**'
      - '**.md'
  pull_request:
    paths-ignore:
      - '.vscode/**'
      - 'bundles/**'
      - 'readme/**'
      - '**.md'

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      max-parallel: 2
      matrix:
        node-version: [16, 18, 20]
        os: [ubuntu-latest]

    steps:
      - name: install required packages for puppeteer
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y libgbm-dev

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        run: npm ci

      - name: Build Packages
        run: npm run build

      - name: Run Tests (mjs)
        run: |
          npm run build-client-bundle
          npm run test:mjs

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2

      - name: Run Tests (cjs)
        run: |
          npm run test:cjs

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2

      - name: Run ESLint
        run: npm run lint

      - name: Run Prettier
        run: npm run format
